*{
    /* border: 1px solid red;  */
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.bg-custom {
    background-color: rgb(213, 101, 15);
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(212, 111, 34);
}

h1 {
    text-align: center;
}

.container-J {
    width: 40%;
}

.john-img-wrapper img {
    width: 70%;
    height: auto;
    border: 1px solid rgb(220, 133, 66);
}

.heart {
    width: 20%;
}

.fa-heart {
    color: red;
    text-shadow: 
    1px 1px #000,
    1px -1px #000,
    -1px 1px #000,
    -1px -1px #000;
    
}

.container-D {
    width: 40%;
}

.dianenola-img-wrapper img {
    width:70%;
    border: 1px solid rgb(213, 101, 15);
}

.dianenola-img-wrapper h2 {
    text-decoration: none;
}

.seperator {
    width: 100%;
    height: 70px;
    background-color: rgb(213, 101, 15);
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

h2 {
    text-decoration: underline;
}

.custom-border {
    border-radius: 12px;
    border: 2px solid rgb(213, 101, 15);
    overflow: hidden;
}

.custom-bt {
    border-top: 2px solid rgb(213, 101, 15);
}

.custom-bb {
    border-bottom: 2px solid rgb(213, 101, 15);
}

.places-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.places-carousel-container {
    width: 100%
}

.places-carousel-wrapper {
    min-width: 40rem;
    max-width: 50rem;
}

.places-text-container {
    width: 90%
}

@media screen and (min-width: 992px) {
    .places-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .places-carousel-container {
        width: 58.33%;
    }
    
    .places-text-container {
        width: 33.33%;
    }
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-carousel-container {
    width: 100%
}

.team-carousel-wrapper {
    min-width: 40rem;
    max-width: 40rem;
}

.team-text-container {
    width: 90%
}

@media screen and (min-width: 992px) {
    .team-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .team-carousel-container {
        width: 58.33%;
    }
    
    .team-text-container {
        width: 33.33%;
    }
}

.dee-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dee-carousel-container {
    width: 100%
}

.dee-carousel-wrapper {
    min-width: 40rem;
    max-width: 40rem;
}

.dee-text-container {
    width: 90%;
    padding-left: 2rem;
}

@media screen and (min-width: 992px) {
    .dee-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .dee-carousel-container {
        width: 58.33%;
    }
    
    .dee-text-container {
        width: 33.33%;
        margin-left: 0;
    }
}

h3 {
    text-shadow: 
    1px 1px #000,
    1px -1px #000,
    -1px 1px #000,
    -1px -1px #000;
    font-weight: 600;
}

h3:hover {
    color: rgb(213, 101, 15);
    text-shadow: 
    1px 1px #000,
    1px -1px #000,
    -1px 1px #000,
    -1px -1px #000;
    font-weight: 600;
}

.sal-team {
    margin-left: -15%;
}

footer {
    background-color: rgb(213, 101, 15);
    height: 150px;
}

figcaption {
    color: white;
}

#sportdengallery {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 20px;
    margin: 10px;
    padding: 10px;


}
.sports-den-img-wrapper {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50rem;
    margin: 1rem auto;
}

.gallerytext {
    text-shadow: 
    1px 1px #000,
    1px -1px #000,
    -1px 1px #000,
    -1px -1px #000;
}

@media screen and (min-width: 992px) {
    #sportdengallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .sports-den-img-wrapper {
        margin: 2rem auto;
    }
}

#nolagallery {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 20px;
    margin: 10px;
    padding: 10px;
}


.nola-img-wrapper {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50rem;
    max-height: 50rem;
    margin: 1rem auto;
}

@media screen and (min-width: 992px) {
    #nolagallery {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

  .nola-img-wrapper {
    margin: 2rem auto;
  }    
}


.trip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trip-carousel-container {
    width: 100%
}

.trip-carousel-wrapper {
    min-width: 40rem;
    max-width: 50rem;
}

.trip-text-container {
    width: 90%
}

@media screen and (min-width: 992px) {
    .trip-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .trip-carousel-container {
        width: 58.33%;
    }
    
    .trip-text-container {
        width: 33.33%;
    }
    
}
.bg-custom-2 {
    background-color: rgb(220, 133, 66);
}
